body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

ul{
    padding: 0px!important;
}
.header{
    width: 100%;
    background-color: #252323;
    height: 60px;
}

.menu{
    width: 980px;
    margin: 0 auto;
    background-color:white;
    padding: 20px;

}

.menu-url{
    border-bottom: 3px solid #efefef;
    height: 84px;
}

.busca{
    width: 35.5%;
    height: 36px;
    float: right;
    margin-top: -32px;

}

.busca input{
    background-image: url('../img/busca.png');
    background-repeat: no-repeat;
    background-position: 95%;
    height: 36px;
    padding: 12px;
    width: 190px;
    margin-right: 70px;
    border: 1px solid #d6d6d6;
}

.menu ul li{
    display: inline-block; /*remove marcações da lista*/
    float: left;
    color: #8b8b8b;
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 24px;
    height: 48px;
}

.menu ul li:hover{
    border-bottom: 3px solid #00bac6;
}

.menu ul li a:hover{
    color:#00bac6;
}

.menu ul li a{
    color: #8b8b8b;
    text-decoration: none;
}

main, .content {
    margin: 0 auto;
    width: 980px;
    position: relative;
}
.logo {
    float:left;
    padding: 16px;
    width: 65%
}
.redes-sociais ul li{
    margin-left: 20px;
    display: inline-block; /*remove marcações da lista*/
    float: left;
}
.redes-sociais {
    width: 30%;
    float: right;
}
.col-100{
    float:left;
    width: 100%;
    position: relative;
}

button.slick-prev{
    display: inline-block;
    font-size: 0px;
    border:none;
    height: 51px;
    width: 25px;
    background-color: transparent;
    background-image: url("../img/anterior.png");
    position:absolute;
    z-index: 9;
    top:32%;
    left:15%;
}

button.slick-next{
    display: inline-block;
    font-size: 0px;
    border:none;
    height: 51px;
    width: 25px;
    background-color: transparent;
    background-image: url("../img/proximo.png");
    position:absolute;
    z-index: 10;
    top:32%;
    right:22%;
}

.slick-dots{
    margin: 0 auto;
    width: 9%;
    margin-top: -3%;
    z-index: 9;
}
.slick-dots li button{
    display: inline-block;
    position:relative;
    font-size: 0px;
    border: 3px solid #ffffff;
    background-color: transparent;
    border-radius: 1000%;
    width: 20px;
    height: 20px;
    cursor:pointer;
}
.slick-dots li {
    display:inline-block;
    padding-left: 10px;
}

li.slick-active button{
    background-color:#00bac6;
}

.texto-destaque{
    text-align: center;
}

.texto-destaque p{
    color:#9a9a9a;
    font-size: 15px;
}

.texto-destaque h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #818181;
    font-size: 30px;
    text-transform: uppercase;
}

.texto-destaque strong{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #646464;
}

.destaque{
    width: 30%;
    float: left;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #818181;
}
.destaque strong{
    color: #646464;
}

.anuncios {
    width: 28%;
    float: left;
    position: relative;
    padding-bottom: 15px;

}

.anuncio-background {
    background-image: url("../img/background-final.png");
    background-repeat: no-repeat;
    background-position: bottom;
    height: 120%;
}
.espaco{
    height: 120px;
}
.anuncios img{
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.anuncios{
    height: 260px;
    border: 1px solid #c5c5c5;
    padding-bottom: 25px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.anuncios p{
    text-align: left;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #717070;
    margin-left: 15px;
    margin-right: 15px; 
}

.anuncios b{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #717070;
    font-size: 14px;
    margin-right: 15px;  
}


.logo-empresas {
    float: left;
    width: 25%;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.logo-empresas img{
    margin: 0 auto;
    cursor:pointer;
    vertical-align: middle;
}

/*.logo-empresas img:hover{
    padding-top: 5px;
    display: inline-block;
    position:relative!important;
}*/

.col-texto-bg{
    background-color: #4a4c4a;

    display: inline-block;
    width: 100%;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.col-texto{
    width: 18%;
    float:left;
    margin: 0 auto;
    position: relative;
    padding-left: 41px;
    padding-right: 26px;
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.col-texto h2{
    color: white;
    font-size: 20px;
}

.col-texto p{
    color: #c1c1c1;
    font-size: 14px;
}

.footer{
    background-color: #23211f;
    height: 90px;
    width: 100%;
    display: inline-block;
}
.footer p{
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #c1c1c1;
    float: left;
    padding-top: 15px;
}


.relogio {
    background-image: url("../img/relogio.png");
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-right: 20px;
    color: #898989!important;
    font-size: 14px;
}


.redes-sociais2 ul li{
    margin-left: 20px;
    display: inline-block; /*remove marcações da lista*/
    float: left;
    font-size: 14px;
}
.redes-sociais2 {
    width: 24%;
    float: right;
    padding-top: 15px;
}

.contatos p{
    display: inline-block;
    width: 100%;
    float: right;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 5px;
}

.contatos img{
    float: left;
    padding-right: 10px;
    padding-top: 2px;
}
